<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computarda</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <div id="app" class="container">
        <h3>{{mensaje}}</h3>
        <h3>invertido: {{invertido}}</h3>
        <input type="text" class="form-control" v-model="mensaje">
        <hr>
        <button class="btn btn-danger" @click="contador--">-</button>
        <button class="btn btn-primary" @click="contador++">+</button>
        <h3>{{contador}}</h3>
        <div class="progress">
        <div class="progress-bar" 
            role="progressbar" 
            :style="{width: contador+ '%'}" aria-valuenow="25" aria-valuemin="0" 
            aria-valuemax="100"
            :class="color"
            >{{contador}}%</div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>
</html>