<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuex</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
</head>
<body>
    <div id="app">
        <titulo></titulo>
    </div>
    <script>
        Vue.component('titulo',{
            template: //html
            `
            <div>
                <h1>numero {{ numero }}</h1>
                <hijo></hijo>
            </div>
            `,
            computed:{
                ...Vuex.mapState([ 'numero' ])
            },
        });
        Vue.component('hijo',{
            template: //html
            `
            <div>
                <button @click="aumentar">+</button>
                <button @click="disminuir(2)">-</button>
                <button @click="obtenerCursos">Obtener Cursos</button>
                <h1>numero {{ numero }}</h1>
                <ul v-for="item of cursos">
                    <li>{{ item.nombre }}</li>    
                </ul>
            </div>
            `,
            computed: {
                ...Vuex.mapState(['numero', 'cursos'])
            },
            methods: {
                ...Vuex.mapMutations(['aumentar', 'disminuir']),
                ...Vuex.mapActions(['obtenerCursos'])
            }
        });

        const store = new Vuex.Store({
            state: {
                numero: 10,
                cursos: []
            },
            mutations:{
                aumentar(state){
                   state.numero ++
                },
                disminuir(state,n){
                    state.numero -= n
                },
                llenarCursos(state, cursosAccion){
                    state.cursos = cursosAccion
                }
            },
            actions:{
                obtenerCursos: async function ({ commit }) {
                    const data = await fetch('./cursos.json');
                    const cursos = await data.json();
                    commit('llenarCursos', cursos)
                }
            }
        });

        new Vue({
            el:'#app',
            store: store // se puede escribir solo store tambien
        })
    </script>
</body>

</html>