<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>holis</title>
</head>
<body>
    <div class="container mt-5" id="app">
        <h3>{{titulo}}</h3>
    <input type="text" class="form-control my-3" v-model="nuevaTarea" v-on:keyup.enter="agregarTarea">
    <button class="btn btn-primary" @click="agregarTarea">Agregar</button>

    <div class="mt-3" v-for="(item, index) of tareas">
        <div role="alert" 
        :class="['alert', item.estado ? 'alert-success' : 'alert-danger']">
            <div class="d-flex justify-content-between align-tiems-center">
                <div>
                    {{index}} - {{item.nombre}} - {{item.estado}}
                </div>
                <div>
                    <button class="btn btn-success btn-sm" @click="editarTarea(index)">OKA</button>
                    <button class="btn btn-danger btn-sm" @click="eliminar(index)">X</button>
                </div>
            </div>

        </div>
    </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>