<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vida y muerte</title>
</head>
<body>
    <div id="app" class="container">
        <h3>{{saludo}}</h3>
        <button @click="saludo = 'saludo cambiado'">Cambiar</button>
        <button @click="destruir()">Destruir</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>
</html>